* {
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: 'Roboto', 'Times New Roman', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: $grey;
    line-height: 1.7;
    list-style: none;
    letter-spacing: 0.03em;
    margin: 0;
    @media screen and (min-width: 319px) {
        overflow-x: hidden;
    }
}
img {
    display: block;
    // width: 100%;
    // height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $grey;
    text-decoration: none;
    box-sizing: border-box;
    &:hover {
        color: #2196F3;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
h1 {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 42px;
    max-width: 365px;
    max-height: 84px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white;
    margin: auto;
}
button {
    display: block;
    &:hover,
    &:focus {
    color: $white;
    background-color: $blue;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
li {
    margin: 0 15px;
}
ul {
    padding: 0;
    margin: 0;
}
section {
    padding: 60px 0;
}
section ul {
    display: flex;
}
h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 1.172em;
    margin: 0 0 30px;
}
h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.172em;
    text-align: center;
    margin: 30px 0 10px;
}
h4 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.172em;
}
p {
    color: $lightgrey;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.172em;
    margin: 0 0 16px;
}
.socialmedia {
    display: flex;
    align-items: center;
    margin: auto;
    width: 206px;
    height: 44px;
    &__type {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-right: 10px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: $social_grey;
        &--footer {
            background-color: rgba(255, 255, 255, 0.1);
            margin: auto;
        }
        &:hover {
            background-color: $blue;
            fill: $white;
            cursor: pointer;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        } 
    }
    &__icon {
        width: 20px;
        height: 20px;
    }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .container {
        max-width: 767px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: 1199px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }

    section {
        padding: 94px 0;
    }
}
