.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 150;
    .container {
        padding: 16px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $white;
        border-bottom: 1px solid #ececec;
        height: 80px;
        width: 100%;
    }
    &__menu-toggle {
        display: none;
    }
    &__logomenu {
        align-items: center;
    }
    &__logo {
        font-family: 'Raleway';
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        text-decoration: none;
        letter-spacing: 0.03em;
        color: $black;
    }
    &__web {
        color: $blue;
    }
    &__menu {
        margin-left: 15px;
        margin-right: 15px;
        max-width: 282px;
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
    }
    &__item {
        margin: 0 5px;
        position: relative;
    }
    &__active::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        margin: 0;
        bottom: -29px;
        left: 0;
        height: 4px;
        border: 2px solid #2196F3;
        border-radius: 2px;
    }
    &__contacts {
        display: flex;
        flex-wrap: wrap;
    }
    &__contact {
        margin: 5px 0;
        display: flex;
        align-items: center;
        fill: $lightgrey;
        &:hover {
            color: $blue;
            fill: $blue;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    @media screen and (max-width: 767px) {
        &__menu,
        &__contacts {
                display: none;
            }
        .container {
            max-height: 60px;
        }
        &__menu-toggle {
            display: contents;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &__contacts {
            flex-basis: 0;
        }
    }
    &__menu-toggle {
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        &:hover {
            background-color: transparent;
            fill: $blue;
        }
    }
    @media screen and (min-width: 1200px) {
        .container {
            justify-content: space-around;
        }
        &__logo {
            font-size: 26px;
        }
        &__contact {
            margin-right: 30px;
        }
        &__menu {
            margin-right: 350px;
        }
    }
}
