.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &__toggle {
        width: 40px;
        height: 40px;
        background-color: transparent;
        position: absolute;
        top: 16px;
        right: 16px;
        fill: $black;
        padding: 0;
        border: none;
        &:hover {
            fill: $blue;
            background-color: transparent;
        }
    }
    &__fill {
        width: 100vw;
        height: 100vh;
        padding: 48px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__menu {
        color: $grey;
    }
    &__item {
        margin: 0;
        height: 48px;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.15em;
        margin-bottom: 32px;
        &--active {
            a {
                color: $blue;
            }
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    &__contact {
        margin: 0;
        margin-bottom: 32px;
    }
    &__mail,
    &__tel {
        font-weight: 500;
        line-height: 1.15em;
        color: $lightgrey;
    }
    &__mail {
        font-size: 24px;
    }
    &__tel {
        font-size: 34px;
    }
    &__socialmedias {
        display: flex;
        margin: 0;
        flex-wrap: wrap;
    }
    &__socialmedia {
            color: $blue;
            margin: 0;
            padding: 0 10px 0 10px;
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            font-weight: 500;
            font-size: 18px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border: none;
            }
    }
}

.menu-container.is-open {
    transform: translateX(0);
}