.box {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 500;
    transform: translate(-50%, -50%);
    background-color: $white;
    width: 95%;
    max-width: 450px;
    height: 609px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: block;
    &__x {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    svg {
        position: inherit;
        top: 9px;
        right: 9px;
        margin: auto;
        }
    &:hover,
    &:focus {
        cursor: pointer;
        fill: $white;
        }
    }
    &__text {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        line-height: 30px;
        margin-top: 40px;
        margin-bottom: 12px;
        padding: 0 5px;
    }
    &__register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    &__fill {
        display: flex;
        flex-direction: column;
        margin: 0;
        position: relative;
        padding: 0 40px;
        &:focus-within input, 
        &:focus-within textarea {
            border-color: $blue;
        }
        &:focus-within svg {
            fill: $blue;
        }
        &:focus-within span {
            color: $blue;
        }
    }
    &__fillname,
    &__filltel,
    &__fillemail {
        padding: 0 10px;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 42px;
        color: $black;
        outline: none;
        appearance: none;
    }
    &__name,
    &__tel,
    &__email,
    &__comment {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: $lightgrey;
        margin-bottom: 4px;
        margin-top: 10px;
        
    }
    &__name {
        margin-top: 0;
    }
    &__textarea::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
    &__textarea {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: $black;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        height: 120px;
        padding: 12px 16px;
        outline: none;
        appearance: none;
        margin: 0;
    }
    &__icon {
        position: absolute;
        width: 18px;
        height: 18px;
        display: block;
        fill: $grey;
        bottom: 11px;
        left: 52px;
        &--name {
            padding: 3px 3px;
        }
        &--tel {
            padding: 2.5px 2.5px;
        }
        &--email {
            padding: 3px 1.5px;
        }
    }
    &__fieldset,
    &__agreement {
        border: none;
        padding: 0;
    }
    &__agreement {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 40px;
        margin-top: 20px;
        margin-bottom: 30px;
        
    }
    &__agree {
        display: flow-root;
        margin: 0 1px 0 7px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: $lightgrey;
        letter-spacing: 0.03em;
    }
    &__agreepoint {
        margin: 0;
        width: 16px;
        height: 16px;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
    }
    &__policy,
    &__reg {
        text-decoration: underline;
        font-size: 12px;
        letter-spacing: 0.03em;
        line-height: 14px;
        font-weight: 400;
        color: $blue;
    }
    &__checkbox {
        margin: 0;
        width: 16px;
        height: 15px;
        border: 2px solid $grey;
        border-radius: 2px;
        appearance: none;
        outline: none;
        &:focus,
        &:hover {
            border-color: $blue;
        }
        &:checked {
            border-color: $blue;
            background-color: $blue;
            + svg {
                fill: $white;
                stroke: $white;
            }
        }
    }
    &__agreeicon {
        width: 12px;
        height: 12px;
        fill: none;
        /* stroke: #000; */
        display: block;
        position: absolute;
        top: 1px;
        left: 2px;
    }
    &__submit {
        align-self: center;
        background-color: $blue;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        color: $white;
        fill: $white;
        width: 200px;
        height: 50px;
        background: $blue;
        border: 0px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 200;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}