$blue: #2196F3;
$white: #ffffff;
$grey: #212121;
$black: #000000;
$lightgrey: #757575;
$softgrey: #F5F4FA;
$part_white: rgba(255, 255, 255, 0.6);
$part_blue: rgba(33, 150, 243, 0.9);
$part_grey: rgba(255, 255, 255, 0.1);
$softwhitegray: #eeeeee;
$social_grey: #afb1b8;

